body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200%;
    line-height: 50%;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 10px;
    height: 700px;
    width: 500px;
}

.main {
    
}

.contact {
    font-size: 90%;
    position: relative;
    float:right; 
    font-size: 70%;
    margin-top: 40px;
    margin-right: 20px;
}

.name {
    position: relative;
    float:left;
    text-align: left;   
    margin-top: 30px;
    margin-left: 50px;
}

.skills {
    position: relative;
    margin-top: 150px;
    margin-left: 50px;
    line-height: 50%;
}

.skills h {
    font-size:120%;
}

.skills p {
    font-size:90%;
}


.experience {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    line-height: 50%;
    text-align: left;
}

.education {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    line-height: 50%;
    text-align: left;
}

/*
.experience:hover {
    position: relative;
    margin-top: 150px;
    margin-left: 50px;
    line-height: 50%;
    color: dimgrey;
    cursor: pointer;
}
*/



.name p {
    font-size: 150%;
}

.name p1 {
    font-size: 90%;
}
