body {
    font-family: 'Titillium Web', sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 10px;
    height: 700px;
    width: 500px;
}

.main {
    margin-bottom: 120px;
}

.contact {
    font-size:80%;
    position: relative;
    float:right; 
    font-size: 75%;
    margin-top: 35px;
    margin-right: 20px;
    line-height: 50%;
}

.name {
    position: relative;
    float:left;
    text-align: left;   
    margin-top: 30px;
    margin-left: 35px;
    line-height: 50%;
}

.name p {
    font-size: 120%;
    
}

.name p1 {
    font-size: 90%;
}

.skills {
    position: relative;
    margin-top: 130px;
    margin-left: 35px;
    line-height: 95%;
}

.skills p {
    font-size:80%;
    font-weight: 900;
    margin-bottom: 5px;
}

.skills p1 {
    font-size:70%;
}

.chapter {
    margin-left: 35px;
    font-size:75%;
    font-weight: bold;
    margin-bottom: -15px;
    margin-top: 20px;
}

.experience {
    position: relative;
    margin-left: 35px;
    text-align: left;
    font-size:80%;
    line-height: 25%;
}

.add {
    position: relative;
    margin-top: 15px;
    margin-left: 35px;
    text-align: left;
    line-height: 125%;
    font-size:75%;

}

